Convert Yelp JSON files to dataframe, explore dataset

In [1]:
import json
import pandas as pd
from glob import glob

In [17]:
yelp_business = pd.read_json('yelp_academic_dataset_business.json', lines = True)

In [18]:
yelp_business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,"4855 E Warner Rd, Ste B9","{'AcceptsInsurance': True, 'ByAppointmentOnly'...",FYWN1wneV18bWNgQjJ2GNg,"[Dentists, General Dentistry, Health & Medical...",Ahwatukee,"{'Friday': '7:30-17:00', 'Tuesday': '7:30-17:0...",1,33.330690,-111.978599,Dental by Design,,85044,22,4.0,AZ
1,3101 Washington Rd,"{'BusinessParking': {'garage': False, 'street'...",He-G7vWjzVUysIKrfNbPUQ,"[Hair Stylists, Hair Salons, Men's Hair Salons...",McMurray,"{'Monday': '9:00-20:00', 'Tuesday': '9:00-20:0...",1,40.291685,-80.104900,Stephen Szabo Salon,,15317,11,3.0,PA
2,"6025 N 27th Ave, Ste 1",{},KQPW8lFf1y5BT2MxiSZ3QA,"[Departments of Motor Vehicles, Public Service...",Phoenix,{},1,33.524903,-112.115310,Western Motor Vehicle,,85017,18,1.5,AZ
3,"5000 Arizona Mills Cr, Ste 435","{'BusinessAcceptsCreditCards': True, 'Restaura...",8DShNS-LuFqpEWIp0HxijA,"[Sporting Goods, Shopping]",Tempe,"{'Monday': '10:00-21:00', 'Tuesday': '10:00-21...",0,33.383147,-111.964725,Sports Authority,,85282,9,3.0,AZ
4,581 Howe Ave,"{'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...",PfOCPjBrlQAnz__NXj9h_w,"[American (New), Nightlife, Bars, Sandwiches, ...",Cuyahoga Falls,"{'Monday': '11:00-1:00', 'Tuesday': '11:00-1:0...",1,41.119535,-81.475690,Brick House Tavern + Tap,,44221,116,3.5,OH

In [20]:
yelp_business.shape

(174567, 15)

In [26]:
yelp_business.postal_code.unique().shape

(16005,)

In [50]:
yelp_sub = yelp_business[yelp_business['postal_code'].apply(lambda x: len(x)==5) & 
                        yelp_business['state'].apply(lambda x: len(x) == 2) & 
                        yelp_business['longitude'].apply(lambda x: x < -10)& 
                        yelp_business['state'].apply(lambda x: x != 'ON')] #get only us postcodes

In [51]:
yelp_sub.shape

(127880, 15)

In [52]:
yelp_sub.state.unique()

array(['AZ', 'PA', 'OH', 'NV', 'NC', 'WI', 'SC', 'IL', 'NE', 'WA', 'NY',
       'IN', 'CA', 'AL', 'VT', 'AR', 'AK', 'FL', 'MN', 'MT', 'GA', 'VA'], dtype=object)

In [56]:
yelp_sub.city.unique().shape

(649,)

In [82]:
yelp_sub[['postal_code', 'state']].groupby('postal_code').count() \
                            .reset_index() \
                            .sort_values(['state'], ascending=False)

    postal_code  state
746       89109   2965
604       85251   2044
626       85281   1777
613       85260   1741
756       89119   1700
739       89102   1497
740       89103   1379
645       85308   1377
521       85032   1326
506       85016   1298
754       89117   1285
607       85254   1263
755       89118   1254
760       89123   1158
627       85282   1158
729       89052   1150
716       89014   1135
782       89146   1105
738       89101   1087
590       85226   1073
783       89147   1052
588       85224    970
508       85018    926
741       89104    912
242       28277    868
589       85225    836
758       89121    830
579       85210    797
764       89128    793
611       85258    771
..          ...    ...
399       53419      1
398       53213      1
397       53176      1
393       45069      1
438       53788      1
392       44334      1
389       44320      1
388       44319      1
386       44308      1
380       44258      1
373       44237      1
437       53783      1
440       53885      1
476       61880      1
457       61825      1
475       61878      1
471       61871      1
462       61847      1
461       61844      1
460       61843      1
459       61840      1
456       61824      1
442       53965      1
452       61816      1
448       60686      1
447       60191      1
446       60031      1
444       54842      1
443       54558      1
833       98145      1

[834 rows x 2 columns]

In [88]:
yelp_sub[['city', 'state', 'postal_code']].groupby(['city', 'state'])['postal_code'].count() \
                            .reset_index(name = 'count') \
                            .sort_values(['count'], ascending=False)

                             city state  count
277                     Las Vegas    NV  26644
468                       Phoenix    AZ  17121
100                     Charlotte    NC   8516
528                    Scottsdale    AZ   8200
483                    Pittsburgh    PA   6336
350                          Mesa    AZ   5745
225                     Henderson    NV   4451
593                         Tempe    AZ   4253
95                       Chandler    AZ   3984
112                     Cleveland    OH   3310
306                       Madison    WI   3206
203                      Glendale    AZ   3198
198                       Gilbert    AZ   3117
459                        Peoria    AZ   1705
420               North Las Vegas    NV   1390
91                      Champaign    IL   1191
588                      Surprise    AZ   1014
206                      Goodyear    AZ    771
117                       Concord    NC    760
315                      Matthews    NC    666
23                       Avondale    AZ    626
242                  Huntersville    NC    566
182                     Fort Mill    SC    554
266                      Lakewood    OH    487
192                      Gastonia    NC    436
125                     Cornelius    NC    427
344                        Mentor    OH    407
614                        Urbana    IL    384
83                     Cave Creek    AZ    371
371                   Monroeville    PA    360
..                            ...   ...    ...
274                     Las Vegas    MN      1
273                     Las Vegas    GA      1
272                     Las Vegas    FL      1
268                  Lakewood, Oh    OH      1
267                   Lakewood Oh    OH      1
264                     Lake Park    NC      1
263                   Lake Norman    NC      1
303                     MC Murray    PA      1
311               Maricopa County    AZ      1
313                       Mathews    NC      1
345            Mentor On The Lake    OH      1
363                    Mint  Hill    NC      1
358               Middleburg Hts.    OH      1
355                    Middleburg    OH      1
354                    Midddleton    WI      1
353                          Meza    AZ      1
352                  Mesa Arizona    AZ      1
351                       Mesa AZ    AZ      1
349                          Mesa    AR      1
341                        Median    OH      1
314                       Mattews    NC      1
339                    Mckeesport    PA      1
338           Mccandless Township    PA      1
1                      Ahwahtukee    AZ      1
323                  Mc Adenville    NC      1
321                 Mayfield Hts.    OH      1
320                  Mayfield Hts    OH      1
319             Mayfield Heights.    OH      1
318  Mayfield Heights (Cleveland)    OH      1
670                        peoria    AZ      1

[671 rows x 3 columns]