Convert Yelp JSON files to dataframe, explore dataset

In [33]:
import json
import pandas as pd
from glob import glob

In [34]:
yelp_business = pd.read_json('yelp_academic_dataset_business.json', lines = True)

In [ ]:
yelp_business.head()

In [3]:
yelp_business.shape

(174567, 15)

In [4]:
yelp_business.postal_code.unique().shape

(16005,)

In [5]:
yelp_sub = yelp_business[yelp_business['postal_code'].apply(lambda x: len(x)==5) & 
                        yelp_business['state'].apply(lambda x: len(x) == 2) & 
                        yelp_business['longitude'].apply(lambda x: x < -10)& 
                        yelp_business['state'].apply(lambda x: x != 'ON')] #get only us postcodes

In [6]:
yelp_sub.shape

(127880, 15)

In [7]:
yelp_sub.state.unique()

array(['AZ', 'PA', 'OH', 'NV', 'NC', 'WI', 'SC', 'IL', 'NE', 'WA', 'NY',
       'IN', 'CA', 'AL', 'VT', 'AR', 'AK', 'FL', 'MN', 'MT', 'GA', 'VA'], dtype=object)

In [8]:
yelp_sub.city.unique().shape

(649,)

In [9]:
yelp_sub[['postal_code', 'state']].groupby('postal_code').count() \
                            .reset_index() \
                            .sort_values(['state'], ascending=False)

    postal_code  state
746       89109   2965
604       85251   2044
626       85281   1777
613       85260   1741
756       89119   1700
739       89102   1497
740       89103   1379
645       85308   1377
521       85032   1326
506       85016   1298
754       89117   1285
607       85254   1263
755       89118   1254
760       89123   1158
627       85282   1158
729       89052   1150
716       89014   1135
782       89146   1105
738       89101   1087
590       85226   1073
783       89147   1052
588       85224    970
508       85018    926
741       89104    912
242       28277    868
589       85225    836
758       89121    830
579       85210    797
764       89128    793
611       85258    771
..          ...    ...
399       53419      1
398       53213      1
397       53176      1
393       45069      1
438       53788      1
392       44334      1
389       44320      1
388       44319      1
386       44308      1
380       44258      1
373       44237      1
437       53783      1
440       53885      1
476       61880      1
457       61825      1
475       61878      1
471       61871      1
462       61847      1
461       61844      1
460       61843      1
459       61840      1
456       61824      1
442       53965      1
452       61816      1
448       60686      1
447       60191      1
446       60031      1
444       54842      1
443       54558      1
833       98145      1

[834 rows x 2 columns]

In [10]:
yelp_sub[['city', 'state', 'postal_code']].groupby(['city', 'state'])['postal_code'].count() \
                            .reset_index(name = 'count') \
                            .sort_values(['count'], ascending=False)

                             city state  count
277                     Las Vegas    NV  26644
468                       Phoenix    AZ  17121
100                     Charlotte    NC   8516
528                    Scottsdale    AZ   8200
483                    Pittsburgh    PA   6336
350                          Mesa    AZ   5745
225                     Henderson    NV   4451
593                         Tempe    AZ   4253
95                       Chandler    AZ   3984
112                     Cleveland    OH   3310
306                       Madison    WI   3206
203                      Glendale    AZ   3198
198                       Gilbert    AZ   3117
459                        Peoria    AZ   1705
420               North Las Vegas    NV   1390
91                      Champaign    IL   1191
588                      Surprise    AZ   1014
206                      Goodyear    AZ    771
117                       Concord    NC    760
315                      Matthews    NC    666
23                       Avondale    AZ    626
242                  Huntersville    NC    566
182                     Fort Mill    SC    554
266                      Lakewood    OH    487
192                      Gastonia    NC    436
125                     Cornelius    NC    427
344                        Mentor    OH    407
614                        Urbana    IL    384
83                     Cave Creek    AZ    371
371                   Monroeville    PA    360
..                            ...   ...    ...
274                     Las Vegas    MN      1
273                     Las Vegas    GA      1
272                     Las Vegas    FL      1
268                  Lakewood, Oh    OH      1
267                   Lakewood Oh    OH      1
264                     Lake Park    NC      1
263                   Lake Norman    NC      1
303                     MC Murray    PA      1
311               Maricopa County    AZ      1
313                       Mathews    NC      1
345            Mentor On The Lake    OH      1
363                    Mint  Hill    NC      1
358               Middleburg Hts.    OH      1
355                    Middleburg    OH      1
354                    Midddleton    WI      1
353                          Meza    AZ      1
352                  Mesa Arizona    AZ      1
351                       Mesa AZ    AZ      1
349                          Mesa    AR      1
341                        Median    OH      1
314                       Mattews    NC      1
339                    Mckeesport    PA      1
338           Mccandless Township    PA      1
1                      Ahwahtukee    AZ      1
323                  Mc Adenville    NC      1
321                 Mayfield Hts.    OH      1
320                  Mayfield Hts    OH      1
319             Mayfield Heights.    OH      1
318  Mayfield Heights (Cleveland)    OH      1
670                        peoria    AZ      1

[671 rows x 3 columns]

Want to subset cities with many reviews, focuse on resturants

In [31]:
import os
import codecs

In [35]:
with codecs.open('yelp_academic_dataset_business.json', encoding='utf_8') as f:
    first_business_record = f.readline() 

print(first_business_record)

{"business_id": "FYWN1wneV18bWNgQjJ2GNg", "name": "Dental by Design", "neighborhood": "", "address": "4855 E Warner Rd, Ste B9", "city": "Ahwatukee", "state": "AZ", "postal_code": "85044", "latitude": 33.3306902, "longitude": -111.9785992, "stars": 4.0, "review_count": 22, "is_open": 1, "attributes": {"AcceptsInsurance": true, "ByAppointmentOnly": true, "BusinessAcceptsCreditCards": true}, "categories": ["Dentists", "General Dentistry", "Health & Medical", "Oral Surgeons", "Cosmetic Dentists", "Orthodontists"], "hours": {"Friday": "7:30-17:00", "Tuesday": "7:30-17:00", "Thursday": "7:30-17:00", "Wednesday": "7:30-17:00", "Monday": "7:30-17:00"}}

Get top eight categories, see https://cseweb.ucsd.edu/classes/wi17/cse258-a/reports/a046.pdf

In [36]:
restaurant_ids = set()

# open the businesses file
with codecs.open('yelp_academic_dataset_business.json', encoding='utf_8') as f:
    
    # iterate through each line (json record) in the file
    for business_json in f:
        
        # convert the json record to a Python dict
        business = json.loads(business_json)
        
        # if this business is not a restaurant, skip to the next one
        if u'Restaurants' not in business[u'categories']:
            continue
            
        # add the restaurant business id to our restaurant_ids set
        restaurant_ids.add(business[u'business_id'])

# turn restaurant_ids into a frozenset, as we don't need to change it anymore
#restaurant_ids = frozenset(restaurant_ids)

In [37]:
food_ids = set()

# open the businesses file
with codecs.open('yelp_academic_dataset_business.json', encoding='utf_8') as f:
    
    # iterate through each line (json record) in the file
    for business_json in f:
        
        # convert the json record to a Python dict
        business = json.loads(business_json)
        
        # if this business is not a food, skip to the next one
        if u'Food' not in business[u'categories']:
            continue
            
        # add the food business id to our food_ids set
        food_ids.add(business[u'business_id'])

# turn food_ids into a frozenset, as we don't need to change it anymore
#food_ids = frozenset(food_ids)

In [38]:
shopping_ids = set()

# open the businesses file
with codecs.open('yelp_academic_dataset_business.json', encoding='utf_8') as f:
    
    # iterate through each line (json record) in the file
    for business_json in f:
        
        # convert the json record to a Python dict
        business = json.loads(business_json)
        
        # if this business is not a food, skip to the next one
        if u'Shopping' not in business[u'categories']:
            continue
            
        # add the food business id to our food_ids set
        shopping_ids.add(business[u'business_id'])

# turn food_ids into a frozenset, as we don't need to change it anymore
#shopping_ids = frozenset(shopping_ids)

In [39]:
bar_ids = set()

# open the businesses file
with codecs.open('yelp_academic_dataset_business.json', encoding='utf_8') as f:
    
    # iterate through each line (json record) in the file
    for business_json in f:
        
        # convert the json record to a Python dict
        business = json.loads(business_json)
        
        # if this business is not a food, skip to the next one
        if u'Bars' not in business[u'categories']:
            continue
            
        # add the food business id to our food_ids set
        bar_ids.add(business[u'business_id'])

# turn food_ids into a frozenset, as we don't need to change it anymore
#bar_ids = frozenset(bar_ids)

In [40]:
bs_ids = set()

# open the businesses file
with codecs.open('yelp_academic_dataset_business.json', encoding='utf_8') as f:
    
    # iterate through each line (json record) in the file
    for business_json in f:
        
        # convert the json record to a Python dict
        business = json.loads(business_json)
        
        # if this business is not a food, skip to the next one
        if u'Beauty & Spas'  not in business[u'categories']:
            continue
            
        # add the food business id to our food_ids set
        bs_ids.add(business[u'business_id'])

In [41]:
hs_ids = set()

# open the businesses file
with codecs.open('yelp_academic_dataset_business.json', encoding='utf_8') as f:
    
    # iterate through each line (json record) in the file
    for business_json in f:
        
        # convert the json record to a Python dict
        business = json.loads(business_json)
        
        # if this business is not a food, skip to the next one
        if u'Home Services'  not in business[u'categories']:
            continue
            
        # add the food business id to our food_ids set
        hs_ids.add(business[u'business_id'])

In [42]:
nf_ids = set()

# open the businesses file
with codecs.open('yelp_academic_dataset_business.json', encoding='utf_8') as f:
    
    # iterate through each line (json record) in the file
    for business_json in f:
        
        # convert the json record to a Python dict
        business = json.loads(business_json)
        
        # if this business is not a food, skip to the next one
        if u'Nightlife'  not in business[u'categories']:
            continue
            
        # add the food business id to our food_ids set
        nf_ids.add(business[u'business_id'])

In [43]:
hm_ids = set()

# open the businesses file
with codecs.open('yelp_academic_dataset_business.json', encoding='utf_8') as f:
    
    # iterate through each line (json record) in the file
    for business_json in f:
        
        # convert the json record to a Python dict
        business = json.loads(business_json)
        
        # if this business is not a food, skip to the next one
        if u'Health & Medical'  not in business[u'categories']:
            continue
            
        # add the food business id to our food_ids set
        hm_ids.add(business[u'business_id'])

In [44]:
all_ids = [restaurant_ids] + [food_ids] + [shopping_ids] + [bar_ids] + [bs_ids] + [hs_ids] +[nf_ids] + [hm_ids]

In [45]:
import itertools
all_ids = list(itertools.chain.from_iterable(all_ids))

In [46]:
all_ids = frozenset(all_ids) #set gets unique values

In [47]:
len(all_ids)

137263

In [52]:
eats_ids = [restaurant_ids] + [food_ids] + [bar_ids]
eats_ids = list(itertools.chain.from_iterable(eats_ids))
eats_ids = frozenset(eats_ids)
len(eats_ids)

72065

In [48]:
#load reviewer list
reviewer_20 =  pd.read_csv('reviewer_20.csv')

In [49]:
user_ids = frozenset(reviewer_20['user_id'])

In [50]:
len(user_ids)

277524

In [51]:
%%time

review_count = 0
 # create & open a new file in write mode
with codecs.open('review_text_subset.txt', 'w', encoding='utf_8') as review_txt_file:

        # open the existing review json file
    with codecs.open('yelp_academic_dataset_review.json', encoding='utf_8') as review_json_file:

            # loop through all reviews in the existing file and convert to dict
        for review_json in review_json_file:
            review = json.loads(review_json)

                # if this review is not in predetermined business types, skip to the next one
            if review[u'business_id'] not in all_ids:
                continue
                
                # if this review is not written by user with at least 20 reviews, skip to the next one
            if review[u'user_id'] not in user_ids:
                continue
            

                # write the review as a line in the new file
                # escape newline characters in the original review text
            review_txt_file.write(review[u'text'].replace('\n', '\\n') + '\n')
            review_count += 1
print('''Text from {:,} subset reviews
              written to the new txt file.'''.format(review_count))

Text from 2,502,380 subset reviews
              written to the new txt file.
CPU times: user 2min 6s, sys: 10.3 s, total: 2min 17s
Wall time: 2min 18s

In [ ]:
%%time

review_count = 0
 # create & open a new file in write mode
with codecs.open('review_text_eats_subset.txt', 'w', encoding='utf_8') as review_txt_file:

        # open the existing review json file
    with codecs.open('yelp_academic_dataset_review.json', encoding='utf_8') as review_json_file:

            # loop through all reviews in the existing file and convert to dict
        for review_json in review_json_file:
            review = json.loads(review_json)

                # if this review is not in predetermined business types, skip to the next one
            if review[u'business_id'] not in eats_ids:
                continue
                
                # if this review is not written by user with at least 20 reviews, skip to the next one
            if review[u'user_id'] not in user_ids:
                continue
            

                # write the review as a line in the new file
                # escape newline characters in the original review text
            review_txt_file.write(review[u'text'].replace('\n', '\\n') + '\n')
            review_count += 1
print('''Text from {:,} subset reviews
              written to the new txt file.'''.format(review_count))

get users who wrote many reviews, DO NOT RUN AGAIN unless changing threshold, read in from csv file

In [2]:
yelp_user = pd.read_json('yelp_academic_dataset_user.json', lines = True)

In [3]:
yelp_user.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,4.67,0,0,0,0,0,0,0,0,1,...,0,[],0,"[cvVMmlU1ouS3I5fhutaryQ, nj6UZ8tdGo8YJ9lUMTVWN...",0,Johnny,8,0,oMy_rEb0UBEmMlu-zcxnoQ,2014-11-03
1,3.70,0,0,0,0,0,0,0,0,0,...,0,[],0,"[0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gp...",0,Chris,10,0,JJ-aSuM4pCFPdkfoZ34q0Q,2013-09-24
2,2.00,0,0,0,0,0,0,0,0,0,...,0,[],0,[],0,Tiffy,1,0,uUzsFQn_6cXDh6rPNGbIFA,2017-03-02
3,4.67,0,0,0,0,0,0,0,0,0,...,0,[],0,[],0,Mark,6,0,mBneaEEH5EMyxaVyqS-72A,2015-03-13
4,4.67,0,0,0,0,0,0,0,0,0,...,0,[],0,[],0,Evelyn,3,0,W5mJGs-dcDWRGEhAzUYtoA,2016-09-08

In [4]:
yelp_user.shape

(1326101, 22)

In [8]:
yelp_u_sub = yelp_user[yelp_user['review_count'].apply(lambda x: x >=20)].sort_values(['review_count'], ascending=False)

In [9]:
yelp_u_sub.shape

(277524, 22)

In [10]:
yelp_u_sub.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
1308092,3.28,2917,53,2917,1960,82,214,1774,54,3347,...,11357,"[2011, 2012, 2015, 2016, 2017, 2013, 2008, 201...",943,"[aD_6VD26GtfxnIPYsFbrKw, d-aK1cdK-xrTdog-BXeRx...",2778,Victor,11954,13564,8k3aO-mPeyhbR5HUucA5aA,2007-12-08
1091629,3.82,143,6,143,83,7,19,116,8,161,...,1,"[2013, 2017, 2012, 2014, 2015, 2016]",214,"[kJJmEwgNgNo8uvdAFcCRKA, RK9lKvmm7zJ2de4n6nOvH...",57,Shila,11323,146,RtGqdDBvvBCjcu5dUqwfzA,2010-10-17
1126295,3.80,1134,47,1134,819,34,125,480,157,1045,...,14,"[2009, 2007, 2016, 2017, 2012, 2006, 2010, 201...",680,"[s1kbaGxgMFUOeOy7_Jq4zg, Xh_dXRIzOaRYbF7EJN78t...",11,Kim,9788,19,P5bUL3Engv-2z6kKohB6qQ,2006-05-31
355752,3.58,1797,19,1797,1294,39,379,708,819,2312,...,19369,"[2015, 2017, 2013, 2014, 2012, 2011, 2010, 2016]",417,"[RbMta8rXN3nBaKbloDWeng, osiKBVbiTwlZQ0zGPhql6...",19263,Bruce,8353,22628,hWDybu_KvYLSdEFzGrniTw,2009-03-08
990212,3.49,97,4,97,36,14,23,137,78,219,...,113,"[2010, 2011, 2012]",272,"[losmtIsEpnld1aOdC0CfmQ, u5l58KYAOiW2sdPFWIFci...",139,George,7764,123,8RcEwGrFIgkt9WQ35E6SnQ,2009-11-06

In [13]:
#write to file to use later
yelp_u_sub.to_csv('reviewer_20.csv', index=False, header=True)